.graph-tab-unclicked{
    color: #000000;
}
.graph-tab-unclicked:hover{
    color: #1C86EE;
}
.graph-tab-clicked{
    color: #1C86EE;
    border: 1px solid #1C86EE;
    box-shadow: 0 0 5px rgba(164, 201, 255, 0.5);
}
.bg-grid-white {
    background-image: url('/static/global/images/bg-grid-white.png');
    background-size: 25% auto;
    background-repeat: repeat;
}
.domain-link{
	stroke: #a8a8a8;
	stroke-width: 1px;
}
.domain-relaname{
	text-anchor: middle;
	fill: #4b4b4b;
	font-size: 8px;
	user-select: none;
}
.domain-relaname:hover{
	font-weight: 600;
}
.domain-node{
	cursor: pointer;
}
.domain-node:hover{
	stroke: rgb(177, 217, 251);
	stroke-width: 4px;
}